{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-xl-9 col-md-12">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="row mb-4">
                        <div class="col-xl-12 col-md-12">
                            <div class="card">
                                <div class="card-body promo-card">
                                    <div class="promo">
                                        <div class="promo-image">
                                            <img src="https://via.placeholder.com/950x400" alt="">
                                        </div>
                                        <div class="promo-content">
                                            <div class="promo-content__title">
                                                This is promo title number 1
                                            </div>
                                            <div class="promo-content__description">
                                                Thisis content promotion number one
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 col-xs-12">
                            <div class="card">
                                <div class="card-body promo-card">
                                    <div class="promo">
                                        <div class="promo-image">
                                            <img src="https://via.placeholder.com/450x300" alt="">
                                        </div>
                                        <div class="promo-content">
                                            <div class="promo-content__title">
                                                This is promo title number 2
                                            </div>
                                            <div class="promo-content__description">
                                                Thisis content promotion number two
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-xs-12">
                            <div class="card">
                                <div class="card-body promo-card">
                                    <div class="promo">
                                        <div class="promo-image">
                                            <img src="https://via.placeholder.com/450x300" alt="">
                                        </div>
                                        <div class="promo-content">
                                            <div class="promo-content__title">
                                                This is promo title number 3
                                            </div>
                                            <div class="promo-content__description">
                                                Thisis content promotion number three
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-12 col-md-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xl-12 col-md-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xl-12 col-md-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-4">
            {% include 'particles/_sidebar.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
