<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card">    
            <div class="card-body">
                <h4 class="card-title">
                    Widget
                </h4>
                <p class="card-text">
                    Test
                </p>
            </div>
        </div>
    </div>
</div>