{% extends 'base.html.twig' %}

{% block title %}{% trans %}Articles{% endtrans %}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">
        {% for i in 0..10 %}
        <div class="col-md-3 col-xl-3 col-xs-6 mb-4">
            <div class="card">
                <div class="card-body">
                    Testowy wpis
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
