* {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: rgb(44,44,44);
    overflow-x: hidden;
}

a {
    color: #FA6444;
    text-decoration: none;
    transition: all 400ms;
}

a:hover {
    color: #FA6455;
    filter: brightness(120%);
}

/** BUTTONS **/
.btn {
    border-radius: 0;
    padding: 7px 20px;
}

.btn.btn-primary {
    background: #8C0002;
    border: 1px solid #7c0200;
}

.btn.btn-primary:hover {
    background: #AD0003;
    border: 1px solid #7c0200;
}

.share-and-like-buttons {
    display: flex;
    justify-content: flex-end;
}

.dislike-button, .like-button {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border-radius: 20px;
    width: 95px;
}

.icon, .count {
    text-align: center;
}

.count {
    font-size: 20px;
    padding: 5px 14px;
    z-index: 10;
    border-radius: 0 0 20px 20px;
}

.icon {
    font-size: 20px;
    padding: 8px 10px 0 10px;
    color: whitesmoke;
    transition: 400ms all;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
}

.dislike-button {
    border: 1px solid #7c0200;
}

.dislike-button .count, .dislike-button .icon:hover {
    background: #7c0200;
}

.like-button {
    border: 1px solid #0f5132;
}

.like-button .count, .like-button .icon:hover {
    background: #0f5132;
}

/** FORMS **/
.form-control {
    border-radius: 0px;
    background: #B0B9BD;
    border: 1px solid #8c0002;
}

/** NAVBAR **/
.header-top {
    background: #212529;
    border-bottom: 1px solid #777;
    color: #DDD;
    text-align: center;
}

.header-top__item {
    line-height: 115px;
}

.header-top__item .form-control {
    display: inline;
}

header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar .nav-item {
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar .nav-item .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
}

header .navbar .nav-item.active {
    border-bottom: 2px solid rgba(255,0,0, 0.4);
    background: #555;
}

header .navbar .nav-item.active a {
    color: #DDD;
}

nav #navbarNav {
    justify-content: center;
}

.fixed-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}


/** CARD **/
.card {
    background: rgb(110, 110, 110);
    border-top: 2px solid rgba(255, 0, 0, 0.4);
    color: #DDD;
    border-radius: 0px;
}

/** PROMO CARD **/
.promo-card {
    padding: 0;
}

.promo {
    overflow: hidden;
    position: relative;
}

.promo .promo-image img {
    width: 100%;
    transition: all 400ms;
}

.promo:hover .promo-image img {
    transform: scale(1.15);
}

.promo .promo-content {
    position: absolute;
    bottom: 0;
    color: wheat;
    padding: 25px;
    -webkit-text-stroke: 1px white;
}

/** FOOTER **/
.footer {
    background: rgb(70, 70, 70);
    border-top: 2px solid rgba(255, 0, 0, 0.4);
    color: darkgrey;
    padding: 15px;
}

.footer .footer__header {
    text-align: center;
}

.footer ul {
    list-style: none;
}

.footer a {
    display: inline-block;
}

.footer a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/** ANIMATIONS **/

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}